# OS
.DS_Store
Thumbs.db

# Python
__pycache__/
*.pyc

# Arduino / IDE
*.ino.cpp
*.elf
*.bin
*.map
*.hex

# PlatformIO
.pio/
.vscode/

# ESP-IDF
build/
sdkconfig
sdkconfig.old
dependencies.lock
managed_components/

# Logs
*.log

# CAD / CAM temporary files
*.bak
*.tmp
*.swp
~$*
